@using BOL;
@{
    ViewBag.Title = "Product List";
}

<body style="background-color: paleturquoise; color: black">
    @*<div style="float: right;">
        <a class="btn" style="color:black" href="/">Home</a> | <a class="btn" style="color: black" href="/home/aboutus">About Us</a> | <a class="btn" style="color: black" href="/home/contactus">Contact Us</a>
    </div>*@
    <div style="float:left;">
        <h2>Online Medicine Store</h2>
    </div>
    
    <br />
    <br />
    <div style="margin-top:5%">
        <h3><i>List of Available Medicines</i></h3>
        <a class="btn btn-primary" style="margin-left: 84%; margin-bottom: 1px; padding-left: 5%; padding-right: 5%" href="/medicinecart/index">View Cart</a>
        <br />

        <fieldset style="background-color: black; color: blanchedalmond; box-shadow: lime 2px 2px 15px; border-radius: 10px; ">

            <table width="105%" height="10%" style="text-align:center; border-spacing:10px 10px;border-collapse:separate;">
                <tr>
                    <th style="text-align: center; color: darkorange">Id</th>
                    <th style="text-align: center; color: darkorange ">Name</th>
                    <th style="text-align: center; color: darkorange ">Company</th>
                    <th style="text-align: center; color: darkorange">Category</th>
                    @*  <th style="text-align: center; color: darkorange ">Description</th>*@
                    <th style="text-align: center; color: darkorange ">Quantity</th>
                    <th style="text-align: center; color: darkorange ">Price</th>
                    <th style="text-align: center; color: darkorange">Image</th>
                    <th style="text-align:center"></th>
                    <th style="text-align:center"></th>
                </tr>
                @{
                    foreach (Product product in ViewBag.allItems)
                    {
                        <tr>
                            <td style="background-color:darkorchid;border-radius:10px">@product.Pid </td>
                            <td>@product.Name</td>
                            <td>@product.Company</td>
                            <td>@product.Category</td>
                            @* <td>@product.Description</td>*@
                            <td>@product.Quantity</td>
                            <td>@product.Price</td>
                            <td><img src="@product.Imgurl" width="40" height="40" style="border-radius:4px" /></td>
                            <td>
                                <a class="btn btn-info" href="/userproduct/medicinebyiduser/@product.Pid">View</a>
                                <a class="btn btn-warning" href="/medicinecart/addtocart?id=@product.Pid&name=@product.Name&img=@product.Imgurl&price=@product.Price">Add To Cart</a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </fieldset>
        <br />

        <div style="margin-left:">
            <a class="btn btn-primary" style="color:blanchedalmond;padding-left:5%;padding-right:5%" href="/">Logout</a>
        </div>

    </div>
</body>


