
@{
    ViewBag.Title = "MedicineId";
}

<body style="background-color:black;color:blanchedalmond">
    <div>
        <h2>Online Medicine Store </h2>
    </div>
    <br />
    <fieldset style="background-color:black;color:blanchedalmond;box-shadow:teal 2px 2px 15px; border-radius: 10px; ">
        <h3 style="margin-left:38%;text-shadow:5px 10px 5px darkgoldenrod ">Details of @ViewBag.medicine.Name</h3>
        <div class="container" style="float:left;width:40%;margin-left:5%">
            <form>
                <div class="form-group">

                    <label for="name">Name:</label>

                    <input style="color: black; background-color: lightgray " type="text" class="form-control" id="name" value="@ViewBag.medicine.Name" name="name" readonly>
                </div>

                <div class="form-group">

                    <label for="company">Company:</label>

                    <input style="color: black; background-color: lightgray" type="text" class="form-control" id="company" value="@ViewBag.medicine.Company" name="company" readonly>
                </div>
                <div class="form-group">

                    <label for="category">Category:</label>

                    <input style="color: black; background-color: lightgray" type="text" class="form-control" id="category" value="@ViewBag.medicine.Category" name="category" readonly>
                </div>

                <div class="form-group">

                    <label for="quantity">Quantity:</label>

                    <input style="color: black; background-color: lightgray" type="number" class="form-control" id="quantity" value="@ViewBag.medicine.Quantity" name="quantity" readonly>
                </div>
                <div class="form-group">

                    <label for="price">Price:</label>

                    <input style="color: black; background-color: lightgray" type="number" class="form-control" id="price" value="@ViewBag.medicine.Price" name="price" readonly>
                </div>

                <div class="form-group">

                    <label for="description">Description:</label><br />
                    <textarea readonly rows="4" cols="50" style="color: black; background-color: lightgray">@ViewBag.medicine.Description</textarea>

                </div>

            </form>
        </div>
        <div class="form-group" style="float: left; width: 50%; margin-bottom: 15%; margin-top: 4%;padding-top:8%;margin-left:5%">
            <fieldset style="background-color: black; color: blanchedalmond; box-shadow: teal 5px 5px 15px; border-radius: 10px; width: 35%">
                <img src="@ViewBag.medicine.Imgurl" width="200" height="200" style="border-radius:10px" />
            </fieldset>
        </div>

        <div style="margin-left:10%">
            <a class="btn btn-primary" href="/products/index">Back</a>
            <a class="btn btn-primary" href="/products/updatemedicine/@ViewBag.medicine.Pid">Edit</a>
            <a class="btn btn-primary" href="/">Logout</a>
        </div>
        <br />
    </fieldset>
</body>
